@media (max-width: 1028px) {
    body {
        font-family: "Montserrat", sans-serif;
    }

    header nav {
        background-color: rgb(18, 118, 129) !important; 
    }

    .nav-link {
        color: white !important;
    }

    .slogan-section {
        background-image: url(/image/slogan-bg.png);
        margin-top: 9.7vh;
        padding: 25vh 0vh;
        color: white;
    }

    .reason-section {
        padding: 10vh 0vh;
    }

    .reason-parts {
        flex-direction: column;
    }

    .reason-parts-1 > i, .reason-parts-2 > i, .reason-parts-3 > i {
        color: rgb(18, 118, 129);
        font-size: 15vh;
        padding-top: 2vh;
    }

    .reason-parts-1 > h2, .reason-parts-2 > h2, .reason-parts-3 > h2 {
        font-size: 3vh;
    }

    .price-section {
        padding: 10vh 0vh;
    }

    .price-section > img {
        max-width: 90%;
        height: auto;
    }

    footer {
        color: white;
        background-color: rgb(18, 118, 129);
        padding: 3vh 0vh;
    }
    
    footer > a {
        color: white;
        text-decoration: none;
    }

    .contact-service {
        flex-direction: column;
    }

    .contact-service > div > i {
        font-size: 4vh;
    }
    
    .copyright-text {
        font-size: 2vh;
    }
}

@media (min-width: 1028px) {
    body {
        font-family: "Montserrat", sans-serif;
    }
    
    header nav {
        background-color: rgb(18, 118, 129) !important; 
    }
    
    .nav-link {
        color: white !important;
    }
    
    .slogan-section {
        background-image: url(/image/slogan-bg.png);
        margin-top: 9vh;
        padding: 25vh 0vh;
        color: white;
    }
    
    .reason-section {
        padding: 10vh 0vh;
    }
    
    .reason-parts {
        padding-top: 2vh;
    }
    
    .reason-parts-1 > i, .reason-parts-2 > i, .reason-parts-3 > i {
        color: rgb(18, 118, 129);
        font-size: 9vh;
    }
    
    .portfolio-section {
        padding: 10vh 0vh;
    }

    .price-section {
        padding: 10vh 0vh;
    }

    .price-section > img {
        max-width: 50%;
        height: auto;
    }
    
    footer {
        color: white;
        background-color: rgb(18, 118, 129);
        padding: 3vh 0vh;
    }
    
    footer > a {
        color: white;
        text-decoration: none;
    }   

    .contact-service > div > i {
        font-size: 4vh;
    }
    
    .copyright-text {
        font-size: 2vh;
    }
}